{% extends '_master.twig' %}

{% block main %}

<article class='pnl'>
  <div>
    <header class='pnl-callout pnl-head'>
      <h1>HTTP 404 - File Not Found</h1>
    </header>
    <div class='pnl-body'>
<div>Looks like you clicked a bad link or typed a wrong URL. While you decide what to do next, please take a moment to consider the following:</div>
<div><img src="{{ asset('img/zen/index.php', 'theme') }}"></div>
</div>
</div>
</article>

{% endblock main %}
