<header id='topbar'>
  <div class='crt'>
    <span class='logo'>{{ theme.sitename_alt }}</span>
    <h3>{{ app.config.get('general/payoff') }}</h3>
  </div>

  <nav>
    {{ menu('main', '_menu_top.twig') }}
  </nav>
</header>
